<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
                         <a href="#" class="text-secondary" onclick="history.back()">
                  <span aria-hidden="true">&larr;</span> Voltar
               </a>
          <h4 class="card-title text-center">{{pedido.nome}}</h4>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Cor da sacola:</strong> {{pedido.corSacola}}</li>
            <li class="list-group-item"><strong>Cor da tinta:</strong> {{pedido.corTinta}}</li>
            <li class="list-group-item"><strong>Quantidade:</strong> {{pedido.quantidade}}</li>
            <li class="list-group-item"><strong>Tamanho:</strong> {{pedido.tamanho}}</li>
            <li class="list-group-item"><strong>Tipo:</strong> {{pedido.tipo}}</li>
            <li class="list-group-item"><strong>Preço:</strong> {{pedido.preco}}</li>
            <li class="list-group-item"><strong>Empresa:</strong> {{pedido.empresa.nomeEmpresa}}</li>
            <li class="list-group-item"><strong>Funcionário:</strong> {{pedido.funcionario.nome}}</li>
            <li class="list-group-item"><strong>Estado Atual:</strong> <span id="estado{{id}}">{{pedido.estado}}</span></li>
          </ul>
          <hr>
      </div>
    </div>
  </div>
</div>